/* Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}
.container{
  max-width: 1500px;
  margin: 0 auto;
  padding: 3rem 4rem;
}
section {
  padding: 6rem 0;
}

section h2 {
  margin-bottom: 2rem;
}

.container {
  max-width: 1500px;
  margin: 0 auto;
  padding: 3rem 4rem;
}

/* TEMPORARY - Remove after adding all the styles */


/* 1. Flex - Header Navigation */
.header{
  background-color: #1d1d1d;
  color: white;
  padding: 1.5rem 0;
}
.header-logo{
  font-size: 1.5rem;
  font-weight: bold;
}
.header-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  padding: 0 4rem;
  margin: 0 auto;
}
.header-links{
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.header-links a{
  color: #fff;
  text-decoration: none;
}
.header-links a:hover{
  color: #9c9c9c;
  cursor: pointer;
}
/* 2. Flex and Column - Featured Section */
.featured{
  display: flex;
  
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin: 0;
  height: 600px;
}
.featured-image{
  flex-basis: 50%;
  height: 100%;
  background-color: #e0e0e0;
  border-radius: 8px;
}
.featured-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.featured-content{
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  height: 100%;
}
.featured-more{
  color: #fff;
  background-color: #1d1d1d;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: none;
}
.featured-more:hover{
  color: #d9d8d8;
  background-color: #414141;
  cursor: pointer;
}
.featured-footer{
  display: flex;
  gap:1rem;
  align-items: center;
  margin-top: 2rem;
}
.featured-content p{
  color: #4d4d4d;
}
/* 3. Flex/Grid List - Latest Cards */

/* 4. Flex/Grid 2D - Hot News */

/* 4a. Flex/Grid 2D - Hot News - Flex Version */

/* 4b. Flex/Grid 2D - Hot News - Grid Version */

/* 5. Grid - Masonry Layout */

/* 6. Grid Templates - News Gallery */

/* 7. Images and Styling */
